.ava {
    width: 50px;
    height: 50px;
    overflow: hidden;
    text-align: center;
    margin: 0 auto;
}

.avaimg {
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.textleft {
    text-align: left;
}

body {
    margin: auto;
    background-color: bisque;
    align-content: center;
    align-items: center;
    text-align: center;
}

.cursorhand {
    cursor: pointer;
}

.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

h1 {
    font-size: 37px;
    color: saddlebrown;
}

.default {
    align-self: center;
    text-align: center;
}

.list1 {
    font-size: 27px;
    max-width: 200px;
    margin: auto;
    border: 2px double darkred;
    background-color: darkseagreen;
    border-spacing: 3px;
}

table {
    max-width: 75%;
    margin: auto;
    border: 2px double darkred;
    background-color: darkseagreen;
    border-spacing: 3px;
}

.headtablebuttons {
    max-width: 80%;
    margin: auto;
    border: none;
    background-color: rgba(0,0,0,0);
}

.trheader {
    border: 2px double rgba(0, 0, 0, 0.70);
}

th {
    padding: 3px;
    font-size: 24px;
    border: 1px groove rgba(0, 0, 0, 0.70);
}

.state {
    font-weight: bold;
}

td {
    padding: 2px;
    font-size: 20px;
    border: 1px groove rgba(0, 0, 0, 0.70);
}

.input {
    font-size: 28px;
    min-height: 30px;
    min-width: 200px;
    border: 3px outset black;
    background-color: rgba(0, 0, 0, 0.37);
    font-family: Impact;
}

.searchinput {
    margin: 1px;
    font-size: 24px;
    min-width: 110px;
    border: 1px outset black;
    background-color: rgba(0, 0, 0, 0.15);
    font-family: Calibri;
}

.searchinputcheckbox {
    border: 1px outset black;
    background-color: rgba(0, 0, 0, 0.15);
    font-family: Calibri;
}

.tdHEAD {
    color: black;
    padding: 3px;
    font-size: 24px;
    border: 3px ridge rgba(0, 0, 0, 0.10);
    background: rgba(255, 252, 198, 0.27);
}

.tableHEAD {
    background: rgba(0, 0, 0, 0.00);
    margin: auto;
    border-spacing: 3px;
    border: 0px;
}

.HEAD {
    padding: 3px;
    background-color: rgba(40, 6, 0, 0.50);
}

.warningmessage {
    max-width: 80%;
    text-align: center;
    align-self: center;
    margin: auto;
    color: darkred;
    font-size: 30px;
    font-weight: bold;
    border: 7px double black;
}
